<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title '' %} | Dazibao</title>
    </head>
    <body>
        <div id="content">
            {% block content '' %}
        </div>
    </body>
</html>
